---
import { getMostVotedBuilds } from '@/api'
import Layout from '../layouts/Layout.astro'
import BuildCard from '@/components/molecules/EldenRing/BuildCard.vue'
import { ArrowLeft, ArrowRight } from 'lucide-vue-next'

const builds = await getMostVotedBuilds({
  limit: 12,
  page: Number(Astro.url.searchParams.get('page')),
})
---

<Layout title="Explore builds">
  <section class="mt-4">
    <nav class="flex justify-center gap-4 mb-8">
      <a
        href={`?page=${builds.prevPage}`}
        class:list={[
          'button',
          {
            'button--disabled': !builds.hasPrevPage,
          },
        ]}
        class="button"
      >
        <ArrowLeft />
        Previous
      </a>
      <a
        href={`?page=${builds.nextPage}`}
        class:list={[
          'button',
          {
            'button--disabled': !builds.hasNextPage,
          },
        ]}
      >
        Next
        <ArrowRight />
      </a>
    </nav>

    <div
      class="container--xl grid gap-5 justify-center sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        builds.docs.map(build => (
          <BuildCard
            build={build}
            hasVoted={build.votes?.includes(Astro.locals.user?.id)}
            client:visible
          />
        ))
      }
    </div>

    <nav class="flex justify-center gap-4 my-8">
      <a
        href={`?page=${builds.prevPage}`}
        class:list={[
          'button',
          {
            'button--disabled': !builds.hasPrevPage,
          },
        ]}
        class="button"
      >
        <ArrowLeft />
        Previous
      </a>
      <a
        href={`?page=${builds.nextPage}`}
        class:list={[
          'button',
          {
            'button--disabled': !builds.hasNextPage,
          },
        ]}
      >
        Next
        <ArrowRight />
      </a>
    </nav>
  </section>
</Layout>
