---
import BuildCard from '@/components/molecules/EldenRing/BuildCard.vue'
import Layout from '../layouts/Layout.astro'
import TranslateImages from '@/components/atoms/TranslateImages.vue'
import { getMostVotedBuilds } from '@/api'
import CardImage from '@/components/molecules/CardImage.vue'
import PreregisterInput from '@/components/molecules/PreregisterInput.vue'
import { BookPlus, MessageSquarePlusIcon, SquareKanbanIcon } from 'lucide-vue-next'

const builds = await getMostVotedBuilds({ limit: 3 })

const CORE_MEMBERS = [
  {
    image: {
      src: '/members/keziah.png',
      alt: 'Keziah, core member of the project',
    },
    name: 'Keziah',
    title: 'Developer',
    link: {
      href: 'https://keziahmoselle.fr',
      label: 'keziahmoselle.fr',
    },
  },
  {
    image: {
      src: '/members/mehdi.png',
      alt: 'Mehdi, core member of the project',
    },
    name: 'Mehdi',
    title: 'Developer',
    link: {
      href: 'https://lepiredev.fr',
      label: 'lepiredev.fr',
    },
  },
  {
    image: {
      src: '/members/audrey.png',
      alt: 'Audrey, core member of the project',
    },
    name: 'Audrey',
    title: 'Designer/Artisan',
    link: {
      href: 'https://akara.fr',
      label: 'akara.fr',
    },
  },
]
---

<Layout title="Home">
  <!-- Hero image -->
  <div class="hero hero--homepage relative">
      <img
        class="hero__image -z-10 absolute top-0 w-full max-h-screen object-cover object-top"
        src="/hero/gideon.webp"
        alt="Gideon the all knowing during the intro cinematic"
      />
  </div>

  <!-- Hero -->
  <section class="container px-4">
    <h1
      class="hidden text-center font-display text-4xl leading-relaxed md:text-7xl md:leading-xl my-20 md:mt-44 md:block"
    >
      <span class="flex justify-center items-center gap-x-4">
        Share your <TranslateImages
          class="w-[100px] h-[20px] transform scale-125 md:transform-none md:w-[412px] md:h-[100px]"
          images={[
            {
              src: '/img/eldenring-logo.png',
              alt: 'Elden Ring',
            },
            {
              src: '/img/darksouls-logo.png',
              alt: 'Dark Souls',
            },
            {
              src: '/img/bloodborne-logo.png',
              alt: 'Bloodborne',
            },
          ]}
          client:load
        /> builds
      </span>
      <span class="block text-center">with the world</span>
    </h1>
    <h1
      class="block text-center font-display text-4xl leading-relaxed my-20 md:hidden"
    >
      <span class="block text-center"> Share your </span>
      <TranslateImages
        class="w-[250px] h-[56px] mx-auto"
        images={[
          {
            src: '/img/eldenring-logo.png',
            alt: 'Elden Ring',
          },
          {
            src: '/img/darksouls-logo.png',
            alt: 'Dark Souls',
          },
          {
            src: '/img/bloodborne-logo.png',
            alt: 'Bloodborne',
          },
        ]}
        client:load
      />

      <span class="block text-center">builds with the world</span>
    </h1>
  </section>

  <!-- About the project -->
  <section class="container">
    <div
      class="bg-secondary border border-primary px-4 py-8 my-8 md:px-16 md:my-16"
    >
      <h2 class="type-h2 mb-7">About the project</h2>

      <p class="type-body mb-4">
        This project aims to simplify sharing and saving <a
          href="/builds"
          class="link">builds</a
        > and <a href="/fashion" class="link">character appearances</a>.
      </p>

      <p class="type-body mb-4">
        The idea came to me while exploring the <a
          href="https://eldenring.wiki.fextralife.com/Elden+Ring+Wiki"
          class="link"
          target="_blank">fextralife wiki</a
        > and watching videos of builds and I said to myself: “I just want to see
        the stats and equipment”. That's how the idea for this site came about, and
        a few weeks later, with two friends, we decided to start building the website.
      </p>

      <p class="type-body mb-4">
        Our aim is not to replace the various <a
          href="https://eldenring.fandom.com/wiki/Elden_Ring_Wiki"
          class="link"
          target="_blank">wikis</a
        > or <a
          href="https://er-build-planner.nyasu.business/"
          class="link"
          target="_blank">build planners</a
        >. Rather, we aim to offer something new, somewhere between these two
        levels of information.
      </p>
    </div>
  </section>

  <!-- Builds cross nav -->
  <section class="mb-14">
    <h2 class="type-h2 text-center mb-16">Most popular builds</h2>

    <div
      class="container--xl grid gap-5 justify-center sm:grid-cols-2 lg:grid-cols-3"
    >
      {
        builds.docs.map(build => (
          <BuildCard
            build={build}
            hasVoted={build.votes?.includes(Astro.locals.user?.id)}
            client:visible
          />
        ))
      }
    </div>

    <div class="flex justify-center mt-16">
      <a href="/builds" class="button">View more builds</a>
    </div>
  </section>

  <!-- Major features teasing -->
  <section class="container--xl">
    <h2 class="type-h2 text-center mb-16">Major features upcoming</h2>

    <div class="grid gap-5 lg:grid-cols-3">
      <CardImage
        title="Builder"
        src="/builder.png"
        alt="The builder that allows users to create builds"
      >
        The builder can be used to easily create and share an existing build you have in-game. The listing allows you to search for a build that uses a specific weapon or sorcery/incantation.
      </CardImage>
      <CardImage
        title="Fashion souls"
        src="/fashion-souls.jpg"
        alt="Preview of a created fashion"
      >
        The Fashion souls section allows you to share and vote character appearances, it only contains weapons/armors and optionally sliders. Sliders that you can create and share separately and link to your fashion.
      </CardImage>
      <CardImage
        title="Lore tree graph"
        src="/lore-graph-tree.png"
        alt="Lore tree graph"
      >
        The lore graph tree feature allows you to quickly see and understand the relations between items/NPCs. Clicking on an item opens a side panel where you can read the item's description.
      </CardImage>
    </div>
  </section>

  <!-- Get notified on release -->
  <section
    class="container--xl relative grid gap-y-8 px-4 py-16 my-20 lg:px-28 lg:py-32 lg:my-40 lg:grid-cols-2"
  >
    <img
      class="absolute inset-0 h-full w-full object-cover object-top filter brightness-75"
      src="/hero/malenia.jpg"
      alt="Malenia vs Radhan during the intro cinematic"
      loading="lazy"
    />

    <p class="text-4xl lg:type-h1 drop-shadow-md max-w-lg">
      Pre-register your account and get notified when we launch!
    </p>

    <div class="flex flex-col justify-center">
      <PreregisterInput client:visible />
      <p class="text-center sm:text-left drop-shadow-md text-base mt-2">
        We will only send you 1 email at release time.
      </p>
    </div>
  </section>

  <!-- Changelog -->
  <section class="container">
    <h2 class="type-h2 text-center mb-16">Changelog</h2>

    <div
      class="bg-secondary border border-primary px-4 py-4 flex flex-col gap-y-8 lg:px-28 lg:py-8"
    >
      <div class="flex justify-end items-center gap-4">
        <div class="flex items-center gap-x-1">
          <div class="size-3 rounded-full bg-white border"></div>
          <span>Done</span>
        </div>
        <div class="flex items-center gap-x-1">
          <div class="size-3 rounded-full bg-accent-foreground border"></div>
          <span>Work in Progress</span>
        </div>
      </div>

      <article class="wysiwyg font-mono text-accent-foreground">
        <h4>v3.0.0 (No ETA)</h4>
        <ul>
          <li>Dark Souls II</li>
          <li>Bloodborne</li>
        </ul>
      </article>

      <article class="wysiwyg font-mono text-accent-foreground">
        <h4>v2.0.0 (Planned for July/August, 2024)</h4>
        <ul>
          <li>
            Lore graph tree
            <ul>
              <li>Link items to items/NPCs to link their lore implications</li>
              <li>Make your own conclusions by reading the item's description and follow the NPCs/items relations</li>
            </ul>
          </li>
          <li>
            Database of items
            <ul>
              <li>Filterable list of items</li>
            </ul>
          </li>
          <li>Fashion souls</li>
          <li>Sliders sharing</li>
          <li>Dark Souls III</li>
        </ul>
      </article>

      <article class="wysiwyg font-mono text-accent-foreground">
        <h4>v1.0.0 (Planned for June 14, 2024)</h4>
        <ul>
          <li>Complete Builder tool</li>
          <li>Build page</li>
          <li>Builds listing and filters</li>
          <li>Better user profile</li>
          <li>
            If we have time these features will be added for v1.0.0
            <ul>
              <li>Fashion souls</li>
              <li>Sliders</li>
            </ul>
          </li>
        </ul>
      </article>

      <article class="wysiwyg font-mono">
        <h4>v0.8.0 (17 April 2024)</h4>
        <ul>
          <li>Homepage</li>
          <li>Preregistrations</li>
          <li>Builder β</li>
          <li>Builds listing without filters and sort</li>
          <li>User profile with created and voted builds</li>
        </ul>
      </article>

      <article class="wysiwyg font-mono">
        <h4>v0.1.0 (10 April 2024)</h4>
        <ul>
          <li>Database modeling and initial seeding</li>
          <li>Login/Register</li>
          <li>Builder α</li>
        </ul>
      </article>

      <div class="flex justify-center">
        <a class="button" href="https://github.com/users/KeziahMoselle/projects/2">
          <span>Checkout the full Roadmap</span>
          <SquareKanbanIcon />
        </a>
      </div>
    </div>
  </section>

  <div class="container">
    <img class="my-14 w-full object-contain" src="/separator.png" alt="" loading="lazy" />
  </div>

  <!-- Members & Contributors -->
  <section class="container">
    <div
      class="bg-secondary border border-primary px-4 pt-4 pb-12 flex flex-col gap-y-8 lg:px-28 lg:py-8"
    >
      <h2 class="type-h2 text-center mt-4 mb-8">Core members</h2>

      <!-- Core members -->
      <div class="grid gap-y-8 gap-5 lg:grid-cols-3">
        {
          CORE_MEMBERS.map(member => (
            <div class="flex gap-4">
              <div class="relative">
                <img class="size-[100px]" src="/avatar-background.png" alt="" loading="lazy" />
                <img
                  class="size-[70px] absolute top-[15px] left-[15px]"
                  src={member.image.src}
                  alt={member.image.alt}
                  loading="lazy"
                />
              </div>
              <div class="flex flex-col justify-between">
                <div>
                  <span class="type-h3 block">{member.name}</span>
                  <span class="type-h4 italic block">{member.title}</span>
                </div>

                <a class="hover:underline" href={member.link.href}>
                  {member.link.label}
                </a>
              </div>
            </div>
          ))
        }
      </div>

      <p class="type-h2 text-center mt-10 md:mt-20">& contributors</p>

      <div class="grid grid-cols-1 md:grid-cols-3 text-xl">
        <ul>
          <li class="flex items-center gap-x-2">
            <span>Randy</span>
            <BookPlus class="size-4" />
            <MessageSquarePlusIcon class="size-4" />
          </li>
          <li class="flex items-center gap-x-2">
            <span>Zeph</span>
            <MessageSquarePlusIcon class="size-4" />
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Contributing -->
  <section class="container">
    <div
      class="relative bg-secondary border border-primary px-4 pt-4 pb-12 lg:px-28 lg:py-8 my-14"
    >
      <h2 class="type-h2 text-center mt-4 mb-8">Join the project</h2>
      <img
        class="absolute inset-0 opacity-50 md:opacity-100 h-full w-full object-cover pointer-events-none"
        src="/discord-background.png"
        alt="Discord"
        loading="lazy"
      />

      <div class="wysiwyg text-xl leading-6">
        <p>
          We are building this website in the open and we would love your
          contributions!
        </p>
        <p class="mt-4">We need <span class="font-semibold text-accent-foreground">beta testers</span> and <span class="font-semibold text-accent-foreground">feedback friends</span>! Join the Discord :)</p>
      </div>

      <div class="flex justify-center gap-4 mt-8">
        <a class="button button--discord" href="https://discord.gg/kpvXugU7Uk">
          Join us on Discord
        </a>
        <a class="button" href="https://github.com/KeziahMoselle/soulsborne.build">
          GitHub
          <img src="/icons/github.svg" alt="GitHub" loading="lazy" class="size-5" />
        </a>
      </div>
    </div>
  </section>
</Layout>
